/* Search results */
.character-container {
    max-height: 300px;

    border-radius: 0 0 25px 25px;

    border-top: 2px solid #110b0b;
    background-color: #2d2f30;
    color: #f2f2f2;

    overflow-y: scroll;
}




/* Search result characters */
.character-details {
    padding: 5px 24px 10px 24px;
    /* border: 1px solid red; */

    cursor: pointer;
}

.character-details:hover {
    background-color: #414344;
}

.character-details__name-gender {
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* border: 1px solid red; */
}

.character-details-gender,
.character-details>span {
    text-transform: capitalize;
    color: #949494;
}

.active {
    background-color: #414344;
}