@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',
        sans-serif;
}


.app {
    min-height: 100vh;
    background: #110b0b;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}